# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
test*
.babelrc
.vscode
promise.js
_promise.ts
event.js
mvvm

# My configurations:
node_modules

yarn.lock
yarn-error.log

package.json
package*
