# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
test.*
.vscode
promise.js
_promise.ts
event.js
mvvm

# My configurations:
node_modules

yarn.lock

package.json